+++
title = "HobbyDocs"
linkTitle = "HobbyDocs"

+++

{{< blocks/cover title="Chào mừng đến với HobbyDocs - Nguồn tài liệu miễn phí về IT và các bài viết chia sẻ góc nhìn của tác giả về cuộc sống" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Trang Tài liệu <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/bluesky2106/documents">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Porridge temperature assessment - in the cloud!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
HobbyDocs là trang web mà tác giả ban đầu muốn ghi chú lại những điều thú vị trong quá trình học IT
 cũng như chia sẻ các góc nhìn về cuộc sống. Tuy nhiên, nếu bạn thấy thích thú với các bài viết trên
 trang web và thấy hữu ích, hãy mời tác giả 1 ly cafe nhé.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-envelope" title="Contact" %}}
Email : hoaiphuong.nguyen.vn@gmail.com
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Follow me on Linkedin!" url="https://www.linkedin.com/in/phuong-nguyen-hoai-91ab1832/" %}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-facebook" title="Follow me on Facebook!" url="https://www.facebook.com/akagi2106" %}}
{{% /blocks/feature %}}


{{< /blocks/section >}}